<!--The content below is only a placeholder and can be replaced.-->
<!--导航-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
        <!--<ul class="navbar-nav mr-auto">-->
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" [routerLink]="['']">首页<span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" [routerLink]="['']" routerLinkActive="active">预约挂号</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" [routerLink]="['/report/list']" routerLinkActive="active">报告单</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" [routerLink]="['/card/list']" routerLinkActive="active">就诊卡</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->
<!--The router displays each component immediately below the <router-outlet> as users navigate through the app.-->
<router-outlet></router-outlet>

