.card-item {
    margin: 0.3rem;
    border: solid 1px #cccccc;
    border-radius: 5px
}

.basic-info {
    padding: 0.8rem;
}

.attached {
    font-size: 1.5em;
    color: #696969;
    margin: 0 1rem;
}

.subtitle, .balance {
    flex-wrap: nowrap;
}

.subtitle {
    color: #cccccc;
    font-size: small;
    margin: 0.8rem;
}

.balance {
    font-size: medium;
}

.card-id {
    margin: 0.3rem 0.8rem;
}

.more {
    position: absolute;
    float: right;
    z-index: 9999;
    margin-top: 5rem;
}

.add-new-card {
    position: fixed;
    bottom: 0;
}