<div class="container">
    <form (ngSubmit)="bindPatientIdCard()" #bindingPatientIdCardForm="ngForm">
        <div class="form-group">
            <ngb-alert type="danger" *ngIf="errorMessage" (close)="errorMessage=''">{{ errorMessage }}</ngb-alert>
        </div>
        <div class="form-group d-flex flex-column align-items-start">
            <label for="name">姓名:</label>
            <input id="name" class="form-control-lg" type="text" placeholder="就诊人持有人姓名"
                   required
                   [(ngModel)]="patientName" name="inputName"
                   #phone="ngModel"
                   (keyup)="errorMessage=''"/>
        </div>
        <div class="form-group d-flex flex-column align-items-start">
            <label for="phone">手机号码:</label>
            <input id="phone" class="form-control-lg" type="text" placeholder="就诊卡上登记的手机号码"
                   required
                   [(ngModel)]="bindingPhone" name="inputPhone"
                   #phone="ngModel"
                   (keyup)="errorMessage=''"/>
        </div>
        <button type="submit" class="btn btn-lg btn-success btn-block"
                [disabled]="!bindingPatientIdCardForm.form.valid">下一步
        </button>
    </form>
    <div class="instruction">
        1. 添加他人就诊卡需要通过验证，短信验证码将发送到所填写的手机上，请注意查收。
    </div>
    <div class="instruction">
        2. 当该就诊卡持有人的手机号码未填写或者原先登记的是错误的手机号码时，可以凭个人身份证到医院对手机号码进行补充或者修改，再进行添加就诊卡的操作。
    </div>
</div>