<baidu-map [options]="opts" [style.height]="mapViewHeight">
    <marker *ngFor="let marker of markers" [point]="marker.point" [options]="marker.options"
            (clicked)="showWindow($event)"></marker>
    <control type="navigation" [options]="controlOpts"></control>
    <!--<control type="overviewmap" [options]="overviewMapOpts"></control>-->
    <control type="geolocation" [options]="geoLocationOpts"></control>
    <control type="scale" [options]="scaleOpts"></control>
    <control type="maptype" [options]="mapTypeOpts"></control>
</baidu-map>